body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,i,strong,th,var{font-weight:normal;font-style:normal}ol,ul{list-style:none}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}q:before,q:after{content:''}abbr,acronym{border:0}a,a:hover{text-decoration:none}.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"."}* html .clearfix{height:1%}.clearfix{display:block}

body{font-size:12px; color:#333333; font-family:"Microsoft YaHei"; background-color:#ffffff;}
a{color:#333333;}

.top{height:50px; line-height:50px; background-color:#0b70dc; color:#ffffff; font-size:13px; overflow:hidden;}
.logo{float:left; margin-left:10px; font-size:22px; font-family:'SimHei'}
.icon_logo_small{display:inline-block; width:36px; height:31px; background:url(../images/logo_small.png) 0 0 no-repeat; vertical-align:middle; margin-right:4px;}
.user{margin-right:10px;}
.btn_close{margin-right:10px; color:#ffffff;}
.btn_close:hover{color:#a5d1ff;}

/*ï¿½ï¿½Â¼Ò³*/
.loginframe{margin:20px auto; text-align:center;}
.login_sysName{height:40px; line-height:40px; font-size:16px; font-weight:bold;}
.ipt_username_login{width:260px; height:36px; line-height:36px; border:1px solid #bbbbbb; border-radius:3px; padding-left:34px; background:url(../images/icon_username.png) 5px center no-repeat #ffffff; font-size:14px;}
.ipt_username_pwd{width:260px; height:36px; line-height:36px; border:1px solid #bbbbbb; border-radius:3px; padding-left:34px; background:url(../images/icon_pwd.png) 5px center no-repeat #ffffff; font-size:14px;}
.btn_login_login{display:block; width:296px; height:38px; margin:0 auto; line-height:38px; background-color:#0b70dc; border-radius:3px; font-size:16px; color:#ffffff;}
.btn_login_login:hover{background-color:#0088ec;}

/*ï¿½ï¿½Ò³*/
.main{}
.main_l{float:left; width:200px; background-color:#f2f2f2; border-right:1px solid #cccccc;}
.sidebarNav{}
.sidebarNav_hd{cursor: pointer;height:38px; line-height:38px; font-size:16px; color:#ffffff; background-color:#2997e8; padding-left:10px;}
.icon_dataManagement{cursor: pointer;display:inline-block; width:12px; height:15px; background:url(../images/icon_dataManagement.png) 0 center no-repeat; vertical-align:middle; margin-right:4px;}
.icon_user_sidebarNav{display:inline-block; width:12px; height:16px; background:url(../images/icon_user_sidebarNav.png) 0 center no-repeat; vertical-align:middle; margin-right:4px;}
.icon_setting_sidebarNav{display:inline-block; width:16px; height:16px; background:url(../images/icon_setting_sidebarNav.png) 0 center no-repeat; vertical-align:middle; margin-right:4px;}
.sidebarNav_bd{display: none;cursor: pointer;}
.sidebarNav_bd a{display:block; height:38px; line-height:38px; color:#333333; border-bottom:1px solid #cccccc; background:url(../images/icon_arrow_sidebar.png) 20px center no-repeat #f2f2f2; padding-left:30px; font-size:13px;}
.sidebarNav_bd a:hover{background-color:#cccccc;}
.sidebarNav_bd a.curr{background-color:#ffffff;}
.mainBlank{height:2px;}
.crumb{height:37px; line-height:35px; overflow:hidden; border-bottom:1px solid #cccccc; background:#f5f5f5; padding-left:15px; font-size:14px;}
.icon_home{display:inline-block; width:18px; height:15px; background:url(../images/icon_home.png) 0 0 no-repeat; vertical-align:middle; margin-right:4px;}
.crumb_name{vertical-align:middle; margin-right:4px;}
.crumb_step{margin:0 5px; font-family:serif; vertical-align:bottom;}

.main_r{margin-left:201px; background-color:#ffffff;}
.btn_common{display:block; width:124px; height:34px; line-height:34px; text-align:center; color:#ffffff; font-size:14px;}
.btn_common:link{background:url(../images/btn_common_linkBg.png) no-repeat;}
.btn_common:hover{background:url(../images/btn_common_hoverBg.png) no-repeat;}
.btn_common:active{background:url(../images/btn_common_activeBg.png) no-repeat;}

/*ï¿½ï¿½Ô±ï¿½ï¿½Î»ï¿½ï¿½ï¿½ï¿½*/
.common_search{padding:15px; border-bottom:1px solid #cccccc; font-size:14px;}
.common_search_select{width:150px; font-size:13px; vertical-align:middle;}
.common_search_ipt{width:160px; height:22px; line-height:22px; border:1px solid #cccccc; font-size:13px; vertical-align:middle; padding:0 3px;}
.common_search_fieldName{vertical-align:middle;}
.common_table{padding:0 5px;}
.common_table_hd{height:30px; overflow:hidden; margin-top:10px;}
.common_btn_add, .common_btn_delete, .common_btn_import, .common_btn_scan, .common_btn_examine, .common_btn_export{float:left; margin-right:20px; color:red; font-size:14px;}
/* .icon_common_add{display:inline-block; width:12px; height:12px; background:url(../images/icon_common_add.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;} */
.icon_common_delete{display:inline-block; width:11px; height:14px; background:url(../images/icon_common_delete.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;}
.icon_common_import{display:inline-block; width:16px; height:16px; background:url(../images/icon_common_import.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;}
.icon_common_scan{display:inline-block; width:16px; height:16px; background:url(../images/icon_common_scan.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;}
.icon_common_examine{display:inline-block; width:16px; height:16px; background:url(../images/icon_common_examine.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;}
.icon_common_export{display:inline-block; width:16px; height:16px; background:url(../images/icon_common_export.png) 0 0 no-repeat; vertical-align:middle; margin-right:2px;}
.common_btn_name{vertical-align:middle;}
.common_table_bd{}
.common_table_bd table tr th{height:36px; line-height:36px; background:url(../images/common_table_tr_bg.png) 0 0 repeat-x; font-size:14px; border:1px solid #cccccc;}
.common_table_bd table tr td{height:36px; line-height:36px; font-size:14px; border:1px solid #cccccc;}
.common_table_bd table tr:hover{background-color:#eeeeee;}
.common_table_operate{color:#0b70dc;}
.common_table_operate:hover{color:#4196f2;}

/*ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/
.sortSetting{font-size:14px; padding:20px;}
.sortSetting table tr td{height:40px; line-height:40px; border:1px solid #cccccc;}
.radio_sortSetting{vertical-align:middle;}

/*ï¿½Þ¸ï¿½ï¿½ï¿½ï¿½ï¿½*/
.editPwd{font-size:14px; padding:20px;}
.editPwd table tr td{height:40px; line-height:40px; border:1px solid #cccccc;}
.neededFill{color:#ef0000;}
.ipt_newPwd_editPwd{width:260px; height:28px; line-height:28px; font-size:14px; border:1px solid #cccccc; padding:0 3px;}

/*ï¿½ï¿½Ò³*/
.pageCount{font-size:0; margin-top:10px; text-align:right;}
.pageCount a{display:inline-block; padding:3px 7px; border:1px solid #b7b7b7; font-size:12px; margin-right:5px;}
.pageCount a.curr{background-color:#006cb8; color:#ffffff; border:1px solid #006cb8;}
.pageCount span{font-size:12px;}

.pageCountGreen{font-size:0; margin-top:10px; text-align:right;}
.pageCountGreen a{display:inline-block; padding:3px 7px; border:1px solid #b7b7b7; font-size:12px; margin-right:5px;}
.pageCountGreen a.curr{background-color:#009688; color:#ffffff; border:1px solid #009688;}
.pageCountGreen span{font-size:12px;}

/*ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ô±ï¿½ï¿½Î»*/
.addNewMember{padding:20px;}
.addNewMember table tr td{line-height:36px; border:1px solid #bbbbbb; font-size:13px;}
.emphasize{color:#bf0000;}
.ipt_normal{width:500px; height:26px; line-height:26px; border:1px solid #cccccc; padding:0 3px; font-size:14px;}
.select_normal{width:160px; font-size:14px;}

/*ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ê©ï¿½ï¿½ï¿½ï¿½Òµ*/
.ipt_addPic{width:135px; height:30px; background:url(../images/ipt_addPic.png) 0 0 no-repeat; border:none; cursor:pointer; margin-left:10px; margin-right:10px; outline:none;}
.upload_tips{float:right; color:#999999; font-size:12px;}
.modeScan{color:#0b70dc;}

/*ï¿½ï¿½ï¿½ï¿½×¨ï¿½ï¿½*/
.addNewExpert{padding:20px;}
.addNewExpert table tr td{line-height:36px; border:1px solid #bbbbbb; font-size:13px;}
.ipt_uploadPhoto{width:135px; height:30px; background:url(../images/ipt_uploadPhoto.png) 0 0 no-repeat; border:none; cursor:pointer; outline:none;}
.addNewExpert table tr td label{margin-right:6px;}
.textarea_personalProfile{width:700px; height:200px; overflow:auto; border:1px solid #cccccc; line-height:22px; font-size:14px;}

.knowledgeDB{margin-top:10px;}
.icon_knowledgeDB{width:16px; height:16px; background-image:url(../images/icon_knowledgeDB.png);}
.icon_arrowRight{width:16px; height:16px; background-image:url(../images/icon_arrowRight.png);}
.knowledgeDB_nav_list{border:1px solid #cccccc; border-top:none;}
.knowledgeDB_nav_list li{border-bottom:1px solid #dddddd;}
.knowledgeDB_nav_list a{display:block; height:34px; line-height:34px; background-color:#eeeeee; padding-left:15px; font-size:14px;}
.knowledgeDB_nav_list a:hover{background-color:#d7e4f6;}
.knowledgeDB_nav_list a.curr{background-color:#e4ecf7;font-weight: bold;color: rgb(1, 64, 153);}
.knowledgeDB_nav_list .knowledgeDB_2nd{}
.knowledgeDB_nav_list .knowledgeDB_2nd a{padding-left:30px;}
.knowledgeDB_nav_list .knowledgeDB_2nd li{border-bottom:none;}
.knowledgeDB_nav_list .knowledgeDB_3nd{}
.knowledgeDB_nav_list .knowledgeDB_3nd a{padding-left:70px; font-size:12px;}
.knowledgeDB_con{margin-left:10px; width:1100px; border:1px solid #dddddd; padding:10px;}
.knowledgeDB_con_title{border-bottom:2px solid #014099; font-size:16px; padding-bottom:10px;}
.knowledgeDB_list{}
.knowledgeDB_list li{padding:15px 10px; border-bottom:1px solid #dddddd;}
.knowledgeDB_list_question{font-size:14px; font-weight:bold; margin-bottom:10px;}
.knowledgeDB_list_title{float:left;}
.knowledgeDB_list_pub{float:right; font-size:12px; font-weight:normal;}
.icon_file_knowlegde{width:16px; height:16px; background-image:url(../images/icon_file_knowlegde.png);}
.knowledgeDB_list_answer{line-height:16px;}
.knowledgeDB_chart_item{float:left; width:505px; padding:10px; margin:10px; border:1px solid #dddddd;}
.knowledgeDB_chart_item_big{float:left; width:800px;height:800px;  border:1px solid #dddddd;}
.knowledgeDB_chart_item_small{float:left; width:285px;height:180px; margin-left:10px;margin-bottom:10px; }
.knowledgeDB_chart_title{font-size:16px; font-weight:bold; text-align:center;}
.knowledgeDB_chart_item_min{float:left; width:220px; margin:10px; }
.yuan{ width:130px; height:80px;  margin-left:8px;margin-top:10px;box-sizing:border-box; padding-top:5px; text-align:left; background-color:#FF7F4C; float:left; border-radius:5px;}
.yuan_text{ width:120px; height:70px; padding-left:5px;text-align:left;line-height:90px; box-sizing:border-box;  margin:0 auto; color:#FF7F4C; font-size:18px; font-family:"PingFangSC-Thin","sans-serif","STHeitiSC-Light","Î¢ÈíÑÅºÚ","Microsoft YaHei"; background-color:#fff;  position:relative;}

.yuan2{ width:130px; height:80px; margin-left:8px;margin-top:10px; box-sizing:border-box; padding-top:5px; text-align:center; background-color:#20B99B; float:left; border-radius:5px;}
.yuan_text2{ width:120px; height:70px; padding-left:5px;text-align:left;line-height:90px; box-sizing:border-box;  margin:0 auto; color:#20B99B; font-size:18px; font-family:"PingFangSC-Thin","sans-serif","STHeitiSC-Light","Î¢ÈíÑÅºÚ","Microsoft YaHei"; background-color:#fff;  position:relative;}

.yuan3{ width:130px; height:80px;  margin-left:8px;margin-top:10px;box-sizing:border-box; padding-top:5px; text-align:center; background-color:#2D7DB8; float:left;border-radius:5px;}
.yuan_text3{ width:120px; height:70px; padding-left:5px;text-align:left;line-height:90px; box-sizing:border-box;  margin:0 auto; color:#2D7DB8; font-size:18px; font-family:"PingFangSC-Thin","sans-serif","STHeitiSC-Light","Î¢ÈíÑÅºÚ","Microsoft YaHei"; background-color:#fff;  position:relative;}

.yuan4{ width:130px; height:80px; margin-left:8px;margin-top:10px; box-sizing:border-box; padding-top:5px; text-align:center; background-color:#8C45AD; float:left;border-radius:5px;}
.yuan_text4{ width:120px; height:70px;  padding-left:5px; text-align:left;line-height:90px; box-sizing:border-box;  margin:0 auto; color:#8C45AD; font-size:18px; font-family:"PingFangSC-Thin","sans-serif","STHeitiSC-Light","Î¢ÈíÑÅºÚ","Microsoft YaHei"; background-color:#fff;  position:relative;}
.count{font-size:40px;font-weight:bold;line-height:60px;}


.realtimeMonitor{ z-index:99999;  border:1px solid #dddddd; height:190px;background-color: #FFF8DC;}
.realtimeMonitor_hd{position:relative; height:30px; line-height:30px; border-bottom:1px solid #2a2a2a; font-size:13px; text-align:center; font-weight:bold; color:#1b1b1b;}
.switchButton{position:absolute; top:6px; right:6px; font-size:12px; font-weight:normal;}
.switchButton_bg{position:relative; display:block; width:40px; height:20px; border-radius:10px; background-color:#E8E8E8;}
.switchButton_slider{position:absolute; top:1px; right:20px; display:block; height:18px; width:18px; border-radius:50%; background-color:#E8E8E8;}
.realtimeMonitor_bd{height:170px; overflow:auto; padding:10px 0px 0px; color:#1b1b1b;}
.realtimeMonitor_bd ul li{border-bottom:1px dashed #3a3a3a; height:24px; line-height:24px; padding:0 8px;font-size:14px;}
.realtimeMonitor_bd ul li .ipAddress{float:left;}
.realtimeMonitor_bd ul li .fileTyle{float:right;}
.realtimeMonitor_bd ul li:hover{background-color:#00BFFF; color:#ffffff;}
